<wm-page layouttype="three-column" columns="3" data-ng-controller="MainPageController" name="mainpage">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="top-nav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-row name="contentRow">
            <wm-left-panel contentwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
            <wm-column class="app-content-column" columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label caption="Home" fontsize="20" name="Heading"></wm-label>
                <wm-html height="auto" width="100%" name="bodyContent">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta gravida nisi, ac volutpat nibh adipiscing et. Fusce hendrerit nisi sed augue molestie pellentesque. Proin quis leo condimentum, tempus augue sit amet, aliquet
                        erat.
                    </p>
                </wm-html>
                <wm-livegrid name="livegrid1" service="hrdb@Employee">
                    <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" name="grid1" dataset="bind:Variables.HrdbEmployeeData.dataSet">
                        <wm-grid-column binding="eid" caption="eid" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="firstname" caption="firstname" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="lastname" caption="lastname" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="street" caption="street" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="city" caption="city" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="state" caption="state" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="zip" caption="zip" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="birthdate" caption="birthdate" type="date" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="picurl" caption="picurl" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="twitterid" caption="twitterid" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                    </wm-grid>
                    <wm-liveform novalidate="false" height="200" name="liveform1" dataset="bind:Variables.HrdbEmployeeData.dataSet">
                        <wm-form-field display-name="eid" show="true" primary-key="true" generator="identity" key="eid" type="integer" readonly="true" required="true" placeholder="Readonly field"></wm-form-field>
                        <wm-form-field display-name="firstname" show="true" primary-key="false" generator="null" key="firstname" type="string" maxvalue="255" readonly="false" required="false" placeholder="Enter text"></wm-form-field>
                        <wm-form-field display-name="lastname" show="true" primary-key="false" generator="null" key="lastname" type="string" maxvalue="255" readonly="false" required="false" placeholder="Enter text"></wm-form-field>
                        <wm-form-field display-name="street" show="true" primary-key="false" generator="null" key="street" type="string" maxvalue="255" readonly="false" required="false" placeholder="Enter text"></wm-form-field>
                        <wm-form-field display-name="city" show="true" primary-key="false" generator="null" key="city" type="string" maxvalue="255" readonly="false" required="false" placeholder="Enter text"></wm-form-field>
                        <wm-form-field display-name="state" show="true" primary-key="false" generator="null" key="state" type="string" maxvalue="2" readonly="false" required="false" placeholder="Enter text"></wm-form-field>
                        <wm-form-field display-name="zip" show="true" primary-key="false" generator="null" key="zip" type="string" maxvalue="255" readonly="false" required="false" placeholder="Enter text"></wm-form-field>
                        <wm-form-field display-name="birthdate" show="true" primary-key="false" generator="null" key="birthdate" type="date" readonly="false" required="false" placeholder="Select date"></wm-form-field>
                        <wm-form-field display-name="picurl" show="true" primary-key="false" generator="null" key="picurl" type="string" maxvalue="255" readonly="false" required="false" placeholder="Enter text"></wm-form-field>
                        <wm-form-field display-name="twitterid" show="true" primary-key="false" generator="null" key="twitterid" type="string" maxvalue="40" readonly="false" required="false" placeholder="Enter text"></wm-form-field>
                        <wm-form-field display-name="department" show="true" generator="assigned" key="department" type="list" is-related="true" primary-key="false"></wm-form-field>
                        <wm-form-field display-name="employee" show="true" generator="null" key="employee" type="list" is-related="true" primary-key="false"></wm-form-field>
                        <wm-form-field display-name="tenantid" show="true" primary-key="false" generator="null" key="tenantid" type="integer" readonly="false" required="false" placeholder="Enter value"></wm-form-field>
                        <wm-form-action key="cancel" class="form-cancel" iconname="remove-circle" action="formCancel()" display-name="cancel" show="true" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" class="form-save btn-success" iconname="save" display-name="save" show="true" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
                <wm-composite widget="radio" name="composite1">
                    <wm-radio class="col-md-push-2" name="radio1"></wm-radio>
                    <wm-label class="col-md-2 col-md-push-2" name="label2"></wm-label>
                </wm-composite>
                <wm-composite widget="radio" name="composite2">
                    <wm-radio class="col-md-push-2" name="radio2"></wm-radio>
                    <wm-label class="col-md-2 col-md-push-2" name="label3"></wm-label>
                </wm-composite>
            </wm-column>
            <wm-right-panel contentwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>